// color
$nextsix-orange: #f09108;
$nextsix-black-title-text: #333333;
$nextsix-grey-para-text: #a7a9ac;
$nextsix-sidebar-grey-text: #bcbcc4;
$nextsix-input-grey-background: #f5f6fa;
$nextsix-border-color: #e1e2eb;
$field-error-message-red: #ff3b3b;
$field-input-disable: #cbcbcb;
$field-input-placeholder: #757575;

//font weight
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// border radius
$border-round: 6px;

// media queries
$screen-mobile-min: 1px;
$screen-mobile-max: 599px;

$screen-small-tablet-min: 600px;
$screen-small-tablet-max: 767px;

$screen-tablet-min: 768px;
$screen-tablet-max: 991px;

$screen-laptop-min: 992px;
$screen-laptop-max: 1199px;

$screen-desktop-min: 1200px;
