.profile-change-password-input {
  display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-top: 30px;
  gap: 20px;

  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.profile-change-password-formik {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 30px;
  width: 74%;
}

.profile-icon-color {
  fill: #b6bbc4;
  transition: fill 0.3s ease;
}

.btn:hover .profile-icon-color {
  fill: #f09108;
}

.btn:hover .btn-my-profile {
  color: #f09108;
}

.formik-error-msg {
  color: #fa7070;
  align-self: flex-start;
}
