.dashboard-header {
  background: url('../../../../public/media/dashboard/dashboard_header_bg.png');
  background-size: 100% 100%;
  height: 150px;
  padding: 8px;
  position: relative;
}

.dashboard-header-greating-text {
  font-size: 16px;
  text-align: right;
}

.dashboard-header-breadcrum-text {
  font-size: 16px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
}

.dashboard-header-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  right: 20px;
  font-size: 16px;
  text-align: right;
}

.dashboard-header-btn:hover{
  color: #009ef7;
  border: 1px solid #009ef7;
}

.dashboard-welcome {
  margin: 20px 0 0 0;
}

.dashboard-welcome-text {
  font-size: 24px;
}

.dashboard-lastlogin-text {
  font-size: 14px;
}

.dashboard-vector-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8px;
  margin: 8px;
}

.dashboard-vector-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto 15px;
}

.dashboard-vector-card-divider {
  min-height: 85px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.dashboard-quick-actions {
  margin-bottom: 30px;
}

.dashboard-other-actions-title {
  font-size: 24px;
  text-align: center;
}

.name-cursor {
  cursor: pointer;
}